header>p{
	font-style: italic;
	font-size: 12px;
}

ul{
	list-style-type: none;
	text-align: center;
	padding: 0px;
	margin: 0px;
	background-color: #444;
}

li{
	display: inline-block;
	padding: 20px;
	line-height: 40px;
}

a{
	text-decoration: none;
	color: aqua;
}

body{
	margin: 0px;
	padding: 0px;
	background-color: #CCCCCC;
}

section{
	padding-left: 20px;
}

footer{
	text-align: center;
	color: aqua;
	height: 40px;
	margin-top: 70px;
	line-height: 40px;
	background-color: #444;
}