P01_PhotoShootEffect*{
	padding: 0;
	margin: 0;
}

body{
	margin-left: 20px;
	width: 960px;
	text-align: center;
	font-family: Arial,sans-serif;
	color: #fcfcfc;
	background-color: #355664; 
}


h1, h2, h3{
	font-family: forte,Arial,sans-serif;
}


h1{
	font-size: 50px;
	padding: 10px 0;
	text-align: center;
	text-transform: uppercase;
}

h2{
	font-size: 40px;
	letter-spacing: 15px;
	text-align: center;
	border-bottom: 3px solid #416371;
	text-transform: uppercase;
}

h3{
	text-align: right;
	font-size: 30px;
	font-weight: normal;
	margin: 0 0 10px;
}

p{
	line-height: 20px;
	padding-bottom: 5px;
	color: #94c258;
}

p+p{
	color: #fff;
}

img{
	width: 500px;
	height: 300px;
	border: none;
}

div[class="article-content"]{
	margin: 15px 0;
}

nav{
	background-color: #355664;
	padding: 0 5px;
	text-align: left;
}

a{
	color: #7CB3E9;
	margin: 5px 2px;
	padding: 7px 10px 4px;
	font-size: 30px;
	text-transform: lowercase;
}

li + li>a{
	color: #fff;
	text-transform: uppercase;
}

a[title="sweet tabs"]{
	color: #8EC45B;
	text-transform: none;
}

article{
	height: 390px;
	background-color: #213E4A;
	padding: 20px;
	margin: 0 0 10px;
	border-radius: 10px;
}

figure{
	border: 3px solid #142830;
	float: right;
	height: 300px;
	width: 500px;
	margin-left: 15px;
}

footer{
	border-top: 3px solid #142830;
	padding-top: 15px;
	margin-bottom: 30px;
	text-align: center;
	font-size: 20px;
}

li{
	display: inline-block;
	padding-bottom: 10px;
}
